{% extends "base.html" %}

{% block head %}
<h1>Page for add category of food</h1>
{% endblock %}

{% block body %}

    <form action="" method="post">

        <p>Add a food category:
        <input type="text" pattern="^[a-zA-Z]{1,40}$" cols="25" name="add_category" placeholder= "add_category" maxlength="40" required/><br>
        </p>
    <br><input type="submit" value="to add"><br>
    </form>


    <a href="http://127.0.0.1:5000/my_info"><h5>My Info</h5></a>
    <a href="http://127.0.0.1:5000/search_food_page"><h5>Search food page</h5></a>
    <a href="http://127.0.0.1:5000/to_logout"><h5>to logout</h5></a>

{% endblock %}