<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset = "UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">


   <title>Connection</title>

</head>

{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}

<div class="wrapper">
  <form class="login" method="post">
    <p class="title">Connection</p>
    <hr>
    <input type="text" placeholder="Email" type="text" name="email" maxlength="40" required autofocus/>
    <br>
    <i class="fa fa-user"></i>
    <input type="password" placeholder="Password" name="password" maxlength="40" required />
    <i class="fa fa-key"></i>

    <br>
<p class="submit">
 <button type="submit" value="Submit">Connection</button></p>

<a href="http://127.0.0.1:5000/register_user"><h5>Create an account</h5></a>

  </form>
  </p>
</div>