{% extends "base.html" %}

{% block head %}
<h1>Page for search the healthiest food</h1>
{% endblock %}

{% block body %}

    <form action="" method="post">
        <p>Categories:
        <select name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select> <br><br><input type="submit" value="next"><br></p>
    </form>

    <a href="http://127.0.0.1:5000/my_info"><h5>My Info</h5></a>
    <a href="http://127.0.0.1:5000/category_add"><h5>Add a new category of food</h5></a>
    <a href="http://127.0.0.1:5000/to_logout"><h5>to logout</h5></a>

{% endblock %}