{% extends "base.html" %}

{% block head %}
<h1>Page for search the healthiest food 2</h1>
{% endblock %}

{% block body %}

    <div id="YourFoodChoice">Your food choice: </div>
    <div id="resultYourFood"> (category: {{ category_record }}), food name: {{ food_name }}</div><br>

    <div id="HealthiestFood">The healthiest food: </div><div id="resultHealthiestFood">Healthiest food: {{ healthiest_food_name }},
    Nutriscore grade: {{ healthiest_nutriscore_grade }}</div><a href="{{ healthiest_food_url }}"><h5>Link to the healthiest food on Open food facts</h5></a><br>
    <form action="" method="post">
        <div><button id="submit">Save the research result ?</button></div>
    </form>

    <a href="http://127.0.0.1:5000/my_info"><h5>My Info</h5></a>
    <a href="http://127.0.0.1:5000/to_logout"><h5>to logout</h5></a>

{% endblock %}